// variables for fonts

$fontSize12: 12px;
$fontSize14: 14px;
$fontSize36: 36px;

//variables for font weight

$fw100: 100;
$fw200: 200;
$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;
$fw900: 900;

//variables for color

$blue: #00b0f0;
$bgColor: #f4f5f7;
$white: #fff;
$grey: #dedddd;