<div class="rawData">
  <div class="dataContainer">
    <div class="rawDataHeader">
      <div class="logo">LOGO</div>
      <div class="logout">Logout</div>
    </div>
    <div class="rawDataPage">
      <div class="pageHeader">
        <div class="pageHeaderText">Review the loaded data</div>
        <div class="pageSubHeading">
          Description of review the loaded data, description should not be more
          than 20 words.
        </div>
      </div>
      <div class="pageDashboard">
        <table>
          <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Bill Date</th>
            <th>Qty</th>
            <th>Sale Value</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Size</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Category</th>
          </tr>
          <tr class="tableContent">
            <td>12091709</td>
            <td>Narasimha P</td>
            <td>04-03-21</td>
            <td>1</td>
            <td>1203</td>
            <td>3412</td>
            <td>Shirt</td>
            <td>L</td>
            <td>U.S. Polo</td>
            <td>Blue</td>
            <td>Formal</td>
          </tr>
          <tr class="tableContent">
            <td>12091709</td>
            <td>Sandeep M</td>
            <td>04-03-21</td>
            <td>1</td>
            <td>1203</td>
            <td>3412</td>
            <td>T-Shirt</td>
            <td>L</td>
            <td>Lacoste</td>
            <td>White</td>
            <td>Casual</td>
          </tr>
          <tr class="tableContent">
            <td>12091709</td>
            <td>Shikha L</td>
            <td>04-03-21</td>
            <td>1</td>
            <td>1203</td>
            <td>3412</td>
            <td>Shirt</td>
            <td>M</td>
            <td>Marks & sp..</td>
            <td>Blue</td>
            <td>Formal</td>
          </tr>
          <tr class="tableContent">
            <td>12091709</td>
            <td>Narasimha P</td>
            <td>04-03-21</td>
            <td>1</td>
            <td>1203</td>
            <td>3412</td>
            <td>Shirt</td>
            <td>L</td>
            <td>U.S. Polo</td>
            <td>Blue</td>
            <td>Formal</td>
          </tr>
          <tr class="tableContent">
            <td>12091709</td>
            <td>Narasimha P</td>
            <td>04-03-21</td>
            <td>1</td>
            <td>1203</td>
            <td>3412</td>
            <td>Shirt</td>
            <td>L</td>
            <td>U.S. Polo</td>
            <td>Blue</td>
            <td>Formal</td>
          </tr>
        </table>
      </div>
      <app-steps [stepData]="stepData"></app-steps>
    </div>
    <div class="pageFooter">
      <div class="cartesian">
        &#169; 2021 | Cartesian Consulting Pvt. Ltd. All rights reserved.
      </div>
      <a class="websiteLink"><u>www.solus.ai</u></a>
      <div class="pipe">|</div>
      <a class="websiteLink"><u>www.cartesianconsulting.com</u></a>
    </div>
  </div>
</div>
