<div class="rawData">
    <div class="dataContainer">
        <div class="rawDataHeader">
            <div class="logo">LOGO</div>
            <div class="logout">Logout</div>
        </div>
        <div class="rawDataPage">
            <div class="pageHeader">
                <div class="pageHeaderText">Review the loaded data</div>
                <div class="pageSubHeading">Description of review the loaded data, description should not be more than 20 words.</div>
            </div>
            <div class="pageDashboard">
                
            </div>
        </div>
        <div class="pageFooter">
            <div class="cartesian">&#169; 2021 | Cartesian Consulting Pvt. Ltd. All rights reserved.</div>
            <a class="websiteLink"><u>www.solus.ai</u></a>
            <div class="pipe">|</div>
            <a class="websiteLink"><u>www.cartesianconsulting.com</u></a>
        </div>
    </div>
</div>