<div class="rawData">
    <div class="dataContainer">
        <div class="rawDataHeader">
            <div class="logo">LOGO</div>
            <div class="logout">Logout</div>
        </div>
        <div class="rawDataPage">
            <div class="pageHeader">
                <div class="pageHeaderText">Configure Solus</div>
                <div class="pageSubHeading">Description of Configure SOLUS, description should not be more than 20 words.</div>
            </div>
            <div class="pageDashboard">
                <div class="dashboardConfigure">
                    <div class="pageContent">
                        <div class="pageConfigure" for="contentConfigure">Active Period Definition in Days</div>
                        <input style="margin-left: 6px" class="contentInput" id="contentConfigure" type="text">
                    </div>
                    <div class="pageContent">
                        <div class="pageConfigure" for="contentConfigure">High ABV Threshold in INR</div>
                        <input style="margin-left: 35px" class="contentInput" id="contentConfigure" type="text">
                    </div>
                    <div class="pageContent">
                        <div class="pageConfigure" for="contentConfigure">High Frequency Threshold</div>
                        <input style="margin-left: 38px" class="contentInput" id="contentConfigure" type="text">
                    </div>
                </div>
            </div>
            <app-steps [stepData]="stepData"></app-steps>
        </div>
        <div class="pageFooter">
            <div class="cartesian">&#169; 2021 | Cartesian Consulting Pvt. Ltd. All rights reserved.</div>
            <a class="websiteLink"><u>www.solus.ai</u></a>
            <div class="pipe">|</div>
            <a class="websiteLink"><u>www.cartesianconsulting.com</u></a>
        </div>
    </div>
</div>