@import "../../styles/variables.scss";
.loadData{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    .backText{
        font-size: $fontSize12;
        cursor: pointer;
    }
    .pageNumber{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $grey;
        font-size: $fontSize12;
        cursor: pointer;
        position: relative;
        .pageName{
            position: absolute;
            top: 28px;
            color: $blue;
            white-space: nowrap;
        }
    }
    .arrow{
        color: $grey;
    }
    .loadBtn{
        .btn{
            cursor: pointer;
            padding: 6px 15px;
            color: $white;
            outline: none;
            border: 1px solid $blue;
            background-color: $blue;
            border-radius: 5px;
            font-weight: $fw600;
        }
    }
}
.totalPages{
    text-align: center;
    font-size: $fontSize12;
    margin-top: 10px;
    span{
        color: $blue;
    }
}

.stepsActive{
    background-color: $blue !important;
    color: $white;
}