<div class="rawData">
    <div class="dataContainer">
        <div class="rawDataHeader">
            <div class="logo">LOGO</div>
            <div class="logout">Logout</div>
        </div>
        <div class="rawDataPage">
            <div class="pageHeader">
                <div class="pageHeaderText">Load raw data</div>
                <div class="pageSubHeading">The first step isload the raw data</div>
            </div>
            <div class="pageDashboard">
                <div class="browseSection">
                    <div class="browseFile">
                        <div class="file">Transaction File</div>
                        <div class="Btn">
                            <button class="browseBtn">Browse</button>
                        </div>
                        <div class="fileName">file name.csv</div>
                    </div>
                    <div class="fileContent"></div>
                    <div class="recordLoaded"> 150,000 Records loaded in <span>SOLUS</span></div>
                </div>
                <div class="browseSection">
                    <div class="browseFile">
                        <div class="file">Product Master</div>
                        <div class="Btn">
                            <button class="browseBtn">Browse</button>
                        </div>
                        <div class="fileName">file name.csv</div>
                    </div>
                    <div class="fileContent"></div>
                    <div class="recordLoaded"> 1000 Records loaded in <span>SOLUS</span></div>
                </div>
            </div>
            <div class="saveBtn">
                <button class="btn">Save</button>
            </div>
            <app-steps></app-steps>
        </div>
        <div class="pageFooter">
            <div class="cartesian">&#169; 2021 | Cartesian Consulting Pvt. Ltd. All rights reserved.</div>
            <a class="websiteLink"><u>www.solus.ai</u></a>
            <div class="pipe">|</div>
            <a class="websiteLink"><u>www.cartesianconsulting.com</u></a>
        </div>
    </div>
</div>