@import "../../styles/variables.scss";

.rawData{
    background-color: $bgColor;
    height: 100vh;
    .dataContainer{
        padding: 40px 35px 10px 35px;
        .rawDataHeader{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                font-size: $fontSize14;
                color: $blue;
                font-weight: $fw500;
            }
            .logout{
                font-size: $fontSize12;
                cursor: pointer;
            }
        }
        .rawDataPage{
            background-color: $white;
            height: calc(100vh - 130px);
            margin-top: 10px;
            border-radius: 10px;
            .pageHeader{
                padding: 20px 0px 20px 20px;
                .pageHeaderText{
                    font-size: $fontSize36;
                    font-weight: $fw500;
                    margin-bottom: 10px;
                }
                .pageSubHeading{
                    font-size: $fontSize14;
                }
            }
        }
        .pageDashboard{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            .browseSection{
                .browseFile{
                    margin: 15px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    .file{
                        font-size: $fontSize14;
                    }
                    .Btn{
                        .browseBtn{
                            cursor: pointer;
                            outline: none;
                            border: 2px solid $blue;
                            padding: 0.5rem 3.5rem;
                            color: $blue;
                            background-color: $white;
                            border-radius: 4px;
                            font-size: $fontSize14;
                            font-weight: $fw600;
                        }
                    }
                    .fileName{
                        font-size: $fontSize12;
                    }
                }
            }
            .fileContent{
                border: 1px solid $blue;
                width: 21rem;
                height: 15rem;
            }
            .recordLoaded{
                margin-top: 10px;
                text-align: center;
                font-size: $fontSize14;
                span{
                    color: $blue;
                    font-weight: $fw600;
                }
            }
        }
        .saveBtn{
            text-align: center;
            .btn{
                padding: 5px 20px;
                background-color: $blue;
                color: $white;
                font-size: $fontSize14;
                outline: none;
                border: 1px solid $blue;
                border-radius: 4px;
                cursor: pointer;
                font-size: $fontSize14;
                font-weight: $fw500;
            }
        }
        .pageFooter{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            font-size: $fontSize14;
            .cartesian{
                padding-right: 10px;
            }
            .websiteLink{
                color: $blue;
                cursor: pointer;
                padding-right: 5px;
            }
            .pipe{
                color: $blue;
                padding-right: 5px;
            }
        }
    }
}