/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "avenir-black";
  src: url('./assets/fonts/AVENIR95BLACK.TTF') format('woff2');
}
@font-face {
  font-family: "avenir-book";
  src: url('./assets/fonts/AVENIR45BOOK_0.TTF') format('woff2');
}

  body{
    padding: 0;
    margin: 0;
    font-family: "avenir-book";
}